li:has(a.active) {
  background-color: #F77C51;
  color: white !important;
}

/* li:not(:has(a.active)) {
  background-color: transparent !important;
  color: rgba(255, 255, 255, 0.65) !important;
} */